
.App {
  margin: 16px;
}

.App-container{
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 24px;
}
.customerProgresscontainer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.pointContainers {
  height: 16px;
  width: 16px;
  border-radius: 40px;
  border: 1px solid #cee4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: white;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px !important;
}
.bg-gray{
  background: gray;
}
.bg-blue{
  background: rgb(0, 103, 226);
}
.css-1bn53lx {
  height: 40px !important;
}
.pointTxt {
  font-size: 10px;
}
.pointLink {
  height: 2px;
  width: 32px;
}
.mr-2{
  margin-right: 8px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.footerButton{
  padding-left: 14px;
  padding-top: 12px;
}
.formError {
  color: #eb5757;
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px;
  padding-left: 4px;
}
.successs-toast{
  color: mediumseagreen;
  font-weight: 700;
  font-size: 24px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pl-3{
  padding-left: 12px !important;
}
.text-start{
  text-align: start !important;
}